body {
    font-family: 'Montserrat', sans-serif;
}

html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    user-select : none;
}

/* ESTILOS GENERALES */

.bold{
    font-weight: 600 !important;
}

.hidden {
    display: none;
}

.pointer {
    cursor: pointer;
}

.logo {
    width: 14px;
    height: 18px;
    object-fit: contain;
}

.circle{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle.white{
    background-color: #ffffff;
}

.circle.red{
    background-color: #ff7d6b;
}

.circle.green{
    background-color: #16cbac;
}

.circle-icon {
    width: 26px;
    height: 26px;
    object-fit: contain;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center > img{
    margin-right: 7px;
}

.pointer {
    cursor: pointer;
}

/* FIN ESTILOS GENERALES */

/* TEXTOS*/

.title-wrap {
    display: flex;
    align-items: center;
}

.title {
    margin-left: 8.4px;
}

.subtitle{
    width: 79px;
    height: 15px;
    font-family: Montserrat;
    font-size: 12px;
    text-align: left;
    color: #505050;
}

.status-text {
    font-size: 16px;
    text-align: center;
    margin-top: 11px;
}

.vote-text{
    font-size: 16px;
    text-align: center;
    color: #000000;
    margin-top: 32px;
    font-weight: 500;
}

.caption-text{
    font-weight: 600;
}

.box-vote-text{
    font-size: 16px;
    text-align: center;
    color: #000000;
    margin-top: 11px;
    font-weight: 500;
    text-transform: capitalize;
}

.advanced-option{
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 16px;
}


.ads-blocked-text{
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
}
.madeWith{
    text-align:center; 
    font-size: 16px;
    margin-bottom:66px;
}
.madeWith img{
    width:21px;
    height: 18px;
    margin-left: 5px;
    margin-right: 5px;
}
.madeWith div{
    margin:5px;
}
.madeWith a{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

/* FIN TEXTOS*/

.adblock-off{
    margin-top: 20px;
}

.power-off{
    margin-top: 20px;
}

/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    height: 22px;
}

/* Icono ajustes */

.gear-icon {
    width: 22px;
    height: 22px;
    object-fit: contain;
    margin-left: 10px;
    cursor: pointer;
}


/* FIN HEADER */

/* LOADER */

.loader {
    height: 250px;
    display: flex;
    align-items: center;
    text-align: center;
}
.loader > img {
    width: 100px;
    margin: 0 auto;
}

/* FIN LOADER */

/* CAJA DE ESTADOS */

.box{
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.box.status{
    width: 384px;
    height: 181px;
    margin-top: 20px;
    color: #ffffff;
}

.box.ads{
    width: 384px;
    height: 96px;
    margin-top: 20px;
    color: #ffffff;
}

.box.ads > div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}

.box.ads > img{
    width: 21px;
    height: 21px;
}

.box.orange{
    background-color: #ffb053;
}

.box.green{
    background-color: #16cbac;
}

.box.red{
    background-color: #ff7d6b;
}

.box.votes{
    width: 184px;
    height: 181px;
    background-color: #f0f0f0;
}

.box.positive-vote{
    width: 384px;
    height: 181px;
    background-color: #f0f0f0;
}
.box.negative-vote{
    width: 384px;
    height: 181px;
    background-color: #ff7d6b;
}

/* FIN CAJA DE ESTADOS */

/* VOTOS */
.votes-wrap{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.vote-down-logo{
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.undue-vote{
    position: absolute;
    bottom: 9px;
    right: 16px;
    font-size: 16px;
    text-align: center;
    color: #000000;
    font-weight: 500;
}
/* FIN VOTOS */





/* MAIN CONTAINER*/

    .popup-wrap {
        background-color: #ffffff;
        padding: 16px;
    }

    /* ESTILO POPUP TRUSTNAV DESACTIVADO*/

    .popup-wrap.not-protected {
        width: 416px;
        height: 600px;
    }

    /* FIN ESTILO POPUP TRUSTNAV DESACTIVADO*/

    /* ESTILO POPUP TRUSTNAV ESTANDAR */

    .popup-wrap.standar {
        width: calc(416px - 32px);
        /*height: calc(565px - 32px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;*/
    }


    /* FIN ESTILO POPUP TRUSTNAV ESTANDAR */

    /* SETTINGS */
    .popup-wrap.settings {
        width: 416px;
        height: 565px;
        display: flex;
        flex-direction: column;
        padding: 0;
        overflow: auto;
        /*justify-content: space-between;*/
    }

    .popup-wrap.settings > header, .popup-wrap.settings > main {
        padding: 16px;
    }

    .popup-wrap.settings > header{
        height: 22px;
    }
    .about-wrap span{
        max-height: 100%;
    }
    /* SETTINGS */



/* MAIN CONTAINER*/



/*AJUSTES*/


.settings-head{
    width: 100%;
    height: 48px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.settings-head p{
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}

.go-back-arrow{
    position: absolute;
    left: 25px;
    width: 16px;
    height: 12px;
}

.tabs-triggers{
    display: flex;
    align-items: center;
}

.tabs-triggers > div{
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    margin-right: 16px;
    padding-bottom: 6px;
    cursor:pointer;
    border-bottom: 2px solid #ffffff;
}

.tabs-triggers > div.selected{
    border-bottom: 2px solid #16cbac;
}

.settings-info{
    font-size: 12px;
    color: #6c6c6c;
    margin-top: 19px;
}

.option-wrap{
    border-radius: 8px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    cursor: pointer;
}

.option-name{
    font-size: 13px;
    color: #000000;
    font-weight: 500;
}



.no-options div{
    margin:auto;
}
.option-switch{
    position: relative;
}

.option-wrap.radio-selected .option-name{
    font-weight: 600;

}

.radio-circle{
    width: 10px;
    height: 10px;
    opacity: 0.54;
    background-color: #f0f0f0;
    border: 2px solid #2e2e2e;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;

}

.option-wrap.radio-selected .radio-circle{
    border: 2px solid #16cbac;
    opacity: 1;
}

.radio-fill{
    width: 10px;
    height: 10px;
    background-color: #16cbac;
    border-radius: 50%;
}

.knob{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);
    border-style: solid;
    border-width: 0.5px;
    border-image-source: linear-gradient(to bottom, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.06) 20%, rgba(255, 255, 255, 0));
    border-image-slice: 1;
    top: -2px;
    transition: .4s ease right;
}

.option-wrap.on .knob{
    position: absolute;
    right: 0;
    background-color: #16cbac;
}

.option-wrap.off .knob{
    position: absolute;
    right: 17px;
    background-color: #f1f1f1;
}

.option-wrap.on .track{
    background-color: #16cbac;
}

.option-wrap.off .track{
    opacity: 1;
    background-color: rgba(34, 31, 31, 0.26);
}

.track{
    width: 34px;
    height: 14px;
    opacity: 0.5;
    border-radius: 15px;
    position: relative;
    transition: .4s ease background-color;
}

.options-group .option-wrap{
    margin-bottom: 8px;
}

.options-group{
    max-height: 343px;
    overflow: auto;
}

.about-wrap{
    display: flex;
    width: 100%;
    height: 234px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    text-align: center;
    overflow-y: auto;
}
.settingsFollowUsOn{
    width:100%; 
    margin-bottom: 16px; 
    color: #c1c1c1;
}
.followUs{
    display: inline-flex;

}
.followUs div{
    margin-left: 13px;
    margin-right: 13px;

}
.about-footer{
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #505050;
}

.alert-main{
    max-height: 500px;
    overflow-y: auto;
}

#setAlertSection .options-group{
    max-height: 232px;
}
/*AJUSTES*/

/* TRUSTNAV OFF*/

.system-off-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    color: #ff7d6b;
    margin-bottom: 33px;
    margin-top: 37px;
}

.system-off-title p{
    font-size: 14px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 0;
}

.system-on-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #16cbac;
    margin-bottom: 33px;
    margin-top: 37px;
}

.system-on-title p{
    font-size: 14px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 0;
}

.grey-box{
    width: 384px;
    height: 285px;
    border-radius: 8px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.circular-btn{
    width: 138px;
    height: 138px;
    border: solid 1px #16cbac;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.switch-on{
    font-size: 16px;
    color: #000000;
    font-weight: 500;
}

.circular-btn-fill{
    width: 100%;
    height: 100%;
    background-color: #16cbac;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.share-space{
    height: 110px;
    border-radius: 8px;
    border: solid 1px #f0f0f0;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.share-icon-wrap{
    width: 48px;
    height: 48px;
    background-color: #7ac2ef;
    border: solid 1.5px #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    margin-left : 16px;
}

.share-wrap{
    font-size: 14px;
    color: #000000;
    padding: 16px;
    font-weight: 500;
}

.share-button{
    width: 260px;
    height: 32px;
    border-radius: 8px;
    background-color: #7ac2ef;
    font-size: 12px;
    color: #ffffff;
    border: none;
    font-weight: 500;
    margin-top: 12px;
}

.share-close{
    margin-top: 11px;
    margin-right: 11px;
}

/*
 *  SCROLLBAR
 */

.custom-scrollbar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #FFFFFF;
  border: none;
}

.custom-scrollbar::-webkit-scrollbar
{
    width: 6px;
    background-color: #FFFFFF;
}

.custom-scrollbar::-webkit-scrollbar-thumb
{
    background-color: #c1c1c1;
    border-radius: 10px;
}


/* TRUSTNAV OFF*/
