html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: Arial;
}

.input-wrapper {
    width: 664px;
    margin: 15px auto;
    padding: 8px 0;
}

.width-100 {
    width: 100%;
}

.margin-auto {
    margin: auto;
}

.logo-wrapper {
    /*width: 419px;*/
    width: 272px;
    height: 231px;
    margin-top: 45px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.logo {
    /*height: 85px;*/
    height: 92px;
    width: 272px;
    padding-top: 112px;
}

footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-align: right;
    color: rgba(0, 0, 0, .5);
    font-family: sans-serif;
    font-size: 13px;
    width: 100%;
}

footer a {
    color: rgba(0, 0, 0, .5);
    cursor: pointer;
}

footer a:hover {
    color: rgba(0, 0, 0, .75);
}

.float-right {
    float: right;
}

.clear {
    clear: both;
}

input {
    height: 36px;
    font-size: 16px;
    padding: 10px 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial;
}

.btn {
    color: #757575;
    font-size: 13px;
    font-family: arial, sans-serif;
    margin: 5px 0;
    width: 100px;
    padding: 0 16px;
    height: 36px;
    line-height: 27px;
    border-radius: 2px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    margin: 5px;
}

.btn-grey {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    font-size: 13px;
    font-family: arial, sans-serif;
    margin: 5px 0;
    width: 100px;
    padding: 0 16px;
    height: 36px;
    line-height: 27px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.btn-grey:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;
    font-weight: bold;
}

.success {
    background: #009c41;
    color: white;
    border: 1px solid #ccc;
}

.success:hover {
    background: #00903c;
    border-color: #8e8e8e;
}

.danger {
    background: #585858;
    color: white;
    border: 1px solid #ccc;
}

.danger:hover {
    background: #424242;
    border-color: #8e8e8e;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 680px;
    margin-top: 2%;
}

.item {
    height: 130px;
    width: 150px;
    background: grey;
    background: rgb(242, 242, 242);
    border: 1px solid rgba(150, 150, 150, 0.3137254901960784);
    cursor: pointer;
    transition: 200ms ease all;
    margin: 10px 8px;
    color: black;
    border-radius: 2px;
    overflow: hidden;
}

.item:hover {
    border-color: rgba(150, 150, 150, 1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.item.empty {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item.empty:hover {
    font-weight: bold;
}

.item.empty .url-img {
    text-align: center;
    color: #888;
}

.item.empty .url-img span {
    margin: 0;
    font-size: 35px;
    /*font-weight: 100;*/
}

.item:hover .close-wrap {
    opacity: 1;
}

.header {
    display: flex;
    align-items: center;
    padding: 5px;
    position: relative;
    height: 18px;
}

.url-title {
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 95px;
}

.url-img {
    display: flex;
    justify-content: center;
}

.url-img img {
    max-width: 150px;
    height: 102px;
}

.close-wrap {
    opacity: 0;
    position: absolute;
    right: 10px;
    transition: opacity 1s;
}

.close {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 15px;
    overflow: hidden;
}

.close:hover::before,
.close:hover::after {
    background: rgb(90, 90, 90);
}

.close::before,
.close::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: rgba(90, 90, 90, 0.7);
}

.close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.close.hairline::before,
.close.hairline::after {
    height: 1px;
}


/* MODAL */

.modal-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(70, 70, 70, 0.49);
    top: 0;
    left: 0;
    margin: auto;
    z-index: 100;
}

.error {
    border: 1px solid #f44336;
}

.modal {
    background: white;
    width: 500px;
    border-radius: 3px;
    cursor: auto;
    opacity: 0;
    transition: .7s ease opacity;
}

.modal-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    background: rgb(242, 242, 242);
    color: #585858;
}

.modal-content {
    padding: 20px;
    border-top: none;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
}

.form-group label {
    font-size: 15px;
    font-weight: 100;
    color: #4a4a4a;
}

.preview {
    width: 50%;
}

.buttons-wrap {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.thumbnail {
    max-height: 102px;
    /*max-width: 150px;*/
}

.link-card {
    transition: width .5s ease-in-out;
    width: 25%;
}
